/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/db/*.sqlite3
/db/*.sqlite3-*
/db/schema.rb
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/db/schema.rb
/test/dummy/log/*.log
/test/dummy/log/*.log.*
/test/dummy/storage/
/test/dummy/tmp/
Gemfile.lock
.idea
.DS_Store
coverage/
.env
*.log
*.log.*
CLAUDE.local.md

